.btn{
  color: rgb(240, 240, 240);
  background-color: rgb(49, 76, 80);
  width: 100px;
  height: 20px;
  /* border-radius: 10px; */
  /* margin: 10px 0 0 10px; */
  border: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.btn:hover{
  background-color: rgb(33, 55, 58);
}

.btn:active{
  background-color: rgb(59, 136, 148);
}

.btn svg{
  margin-right: 8px;
}